.container {
    padding-top: 3rem;
}

.col {
    padding: 5rem;
}

.row {
    padding-bottom: 5rem;
}

.card {
    text-align: center;
    padding: 0.7rem;
}

.card-text {
    color: grey;
}

.card-img-top {
    align-self: center;
    border-radius: 20%;
    max-width: 30%;
    height: auto;
}

.btn-primary {
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3;
    box-shadow: 0 12px 16px 0 rgba(27, 80, 187, 0.44), 0 17px 50px 0 rgba(51, 56, 161, 0.69);
}

.btn:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
    box-shadow:  0 12px 16px 0 rgba(40, 97, 147, 0.44), 0 17px 50px 0 rgba(31, 28, 116, 0.69);
}

.card-header {
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    background-color: white;
}
