

body > * {
    background: #eee;
    margin: 0 auto;
    text-align: center;

}

.container-header, .container-footer{
    display:flex;
    background-color: white;
}
.container-header{
    width:100%;
    justify-content:space-between;
    padding-bottom:20px;
    border: 1px solid;

}